html {
  font-family: Verdana;
  font-size: 14px;
}
body {

}
header {
  display: flex;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
}
.logo {
  display: fixed;
  color: MediumAquamarine;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
}
nav {
  display: fixed;
}
nav .li {
  display: inline-block;
  align-items: flex-end;
}
